body {
  background-color: #282c34;
  text-align: center;
  color: white;
}

.Home {
  margin: 10px;
}

.Nav {
  background-color: #282c34;
  color: white;
}

nav a {
  color: white;
}

nav a.active {
  color: yellow;
}

.Cocktails {
}

.cocktail-card {
  width: 225px;
  border-style: double;
  border-width: medium;
  border-radius: 50px;
  margin: 10px;
  padding: 20px;
  display: inline-grid;
  
}

.cocktail-detail {
  width: 600px;
  margin: auto;
  border-style: double;
  border-width: medium;
  border-radius: 50px;
}

a {
  color: white;
}

ul {
  list-style-type: none;
}

li {
  border-style: hidden;
  border-radius: 20px;
  background-color: rgb(106, 106, 165);
  margin-right: 30px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

img {
}


